@import url(https://weloveiconfonts.com/api/?family=entypo);
@import url(https://weloveiconfonts.com/api/?family=maki);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* maki */
[class*="maki-"]:before {
font-family: 'maki', sans-serif;
}

.katalog-End{text-align: end; font-size:1.4rem;}
.img-responsive{align-self :right ;}
.navbar{
    padding: 0.75rem;
}
.navbar-brand{
    font-size: 2rem;
}
.card{
    height: 100%;
}
.column{
    margin-bottom: 1rem;
}
.btn-block{
    display: block;
}
.counter{
    width: auto;
}
.category-header{
    flex: 1;
}

.container
{
    padding: 0 2rem 0 2rem !important;
}

.orderList
{
    border: 2px solid black;
    border-radius: 15px;
    padding: 25px;
    height: 70%;
    overflow: auto;

}

.flexOrderColumn
{
    overflow: hidden;

    height: auto;
    margin: auto 0;

    text-align: center;

    padding: 0 10px;
}

.flexOrderRow
{
    display: flex;
    height: 100px;
    border: 1px solid #000;
    border-radius: 15px;
    margin: 0 0 10px 0;
    overflow-x: auto;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    background: white;
}

.ProductStateMissing
{
    color: red;
    font-weight: 500;
    min-width: 100px;
    margin-right: auto;
}

.Image
{
    min-width: 50px;
    width: 100px;
}

.Name
{
    font-weight: 500;
    min-width: 100px;
    width: 200px;
    color: rgb(0, 0, 0);
}

.Price
{
    min-width: 60px;
    width: 100px;
}

.OrderCard
{
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.RemoveButton
{
    min-width: 30px;
}

.headEnd
{
    text-align: right;
}

.orderList img
{
    width: 100%;
}

.cart-heading{
    display: flex;
    justify-content: space-between;
}