<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="../../css/Cart.Css">
    <title>Бычье сердце</title>
</head>
<body>
</head>
<body>
    <header>
      <div class="container">
        <div class="columns">
          <div class="column col-2"><b>Питомник растений</b></div>
          <div class="column col-2"><a href="#">О питомнике</a></div>
          <div class="column col-7 headEnd"><a href="#">Зарегистрироваться</a></div>
          <div class="column col-1 headEnd"><a href="#">Войти</a></div>
        </div>
      </div>
    </header>
    <div class="content">
      <div class="float-left">Корзина</div>
      <div class="float-right"><a href="#">История покупок</a></div>
      <br>
      <div class="orderList">
        <div class="flexOrderRow">
          <div class="flexOrderColumn Image"><img src="../../static/bp.jpeg"></div>
          <div class="flexOrderColumn Name">Помидор "Бычье сердце"</div>
          <div class="flexOrderColumn Price">1000Р/шт.</div>
          <div class="flexOrderColumn ProductStateMissing">Товара нет в наличии</div>
          <div class="flexOrderColumn OrderCard">Что-то ещё</div>
          <div class="flexOrderColumn RemoveButton">X</div>
        </div>
        <div class="flexOrderRow">
          <div class="flexOrderColumn Image"><img src="../../static/bp.jpeg"></div>
          <div class="flexOrderColumn Name">Помидор "Бычье сердце"</div>
          <div class="flexOrderColumn Price">1000Р/шт.</div>
          <div class="flexOrderColumn ProductStateMissing">Товара нет в наличии</div>
          <div class="flexOrderColumn OrderCard"></div>
          <div class="flexOrderColumn Button">X</div>
        </div>
        <div class="flexOrderRow">
          <div class="flexOrderColumn Image"><img src="../../static/bp.jpeg"></div>
          <div class="flexOrderColumn Name">Помидор "Бычье сердце"</div>
          <div class="flexOrderColumn Price">1000Р/шт.</div>
          <div class="flexOrderColumn ProductStateMissing">Товара нет в наличии</div>
          <div class="flexOrderColumn OrderCard">Что-то ещё</div>
          <div class="flexOrderColumn Button">X</div>
        </div>
        <div class="flexOrderRow">
          <div class="flexOrderColumn Image"><img src="../../static/bp.jpeg"></div>
          <div class="flexOrderColumn Name">Помидор "Бычье сердце"</div>
          <div class="flexOrderColumn Price">1000Р/шт.</div>
          <div class="flexOrderColumn ProductStateMissing">Товара нет в наличии</div>
          <div class="flexOrderColumn OrderCard">Что-то ещё</div>
          <div class="flexOrderColumn Button">X</div>
        </div>
        <div class="flexOrderRow">
          <div class="flexOrderColumn Image"><img src="../../static/bp.jpeg"></div>
          <div class="flexOrderColumn Name">Помидор "Бычье сердце"</div>
          <div class="flexOrderColumn Price">1000Р/шт.</div>
          <div class="flexOrderColumn ProductStateMissing">Товара нет в наличии</div>
          <div class="flexOrderColumn OrderCard">Что-то ещё</div>
          <div class="flexOrderColumn Button">X</div>
        </div>
        <div class="flexOrderRow">
          <div class="flexOrderColumn Image"><img src="../../static/worshipIt.jpg"></div>
          <div class="flexOrderColumn Name">Gladus Valakus</div>
          <div class="flexOrderColumn Price">1000Р/шт.</div>
          <div class="flexOrderColumn ProductStateMissing">Товара нет в наличии</div>
          <div class="flexOrderColumn OrderCard">Что-то ещё</div>
          <div class="flexOrderColumn Button">X</div>
        </div>
        <div class="flexOrderRow">
          <div class="flexOrderColumn Image"><img src="../../static/bp.jpeg"></div>
          <div class="flexOrderColumn Name">Помидор "Бычье сердце"</div>
          <div class="flexOrderColumn Price">1000Р/шт.</div>
          <div class="flexOrderColumn ProductStateMissing">Товара нет в наличии</div>
          <div class="flexOrderColumn OrderCard">Что-то ещё</div>
          <div class="flexOrderColumn Button">X</div>
        </div>
      </div>
    </div>
</body>