<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="../../css/Cart.Css">
    <title>Бычье сердце</title>
</head>
<body>
</head>
<body>
    <header>
      <div class="container">
        <div class="columns">
          <div class="column col-2"><b>Питомник растений</b></div>
          <div class="column col-2"><a href="#">О питомнике</a></div>
          <div class="column col-7 headEnd"><a href="#">Зарегистрироваться</a></div>
          <div class="column col-1 headEnd"><a href="#">Войти</a></div>
        </div>
      </div>
    </header>
    <div class="content">
      <div class="float-left">Корзина</div>
      <div class="float-right"><a href="#">История покупок</a></div>
      <br>

      <div class="orderList">
        <div class="flexTable">
          <div class="flexColumn nonStretchy">Не сворачивающееся слово</div>
          <div class="flexColumn">2</div>
          <div class="flexColumn">3</div>
        </div>
        <div class="flexTable">
          <div class="flexColumn first"><img src="../../static/bp.jpeg"></div>
          <div class="flexColumn second">Товара нет в наличии</div>
          <div class="flexColumn">3</div>
        </div>
        <div class="flexTable">
          <div class="flexColumn nonStretchy">Не сворачивающееся слово</div>
          <div class="flexColumn">2</div>
          <div class="flexColumn">3</div>
        </div>
        <div class="flexTable">
          <div class="flexColumn nonStretchy">Не сворачивающееся слово</div>
          <div class="flexColumn">2</div>
          <div class="flexColumn">3</div>
        </div>
      </div>
      

      <div class="container">
        <div class="columns">
          <div class="column col-3"><img src="../../static/bp.jpeg"></div>
          <div class="column col-2"><span class="info">Нет в наличии</span></div>
          <div class="column col-5">col-2</div>
          <div class="column col-1">col-1</div>
        </div>
      </div>
</body>