<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <title>Абоба</title>
</head>
<body>  
    <button class="btn loading">button</button>
    <button class="btn loading">button</button><button class="btn loading">button</button>
    <button class="btn loading">button</button>
    <button class="btn loading">button</button><button class="btn loading">button</button>

<div class="card">
  <div class="card-image">
    <img src="img/osx-el-capitan.jpg" class="img-responsive">
  </div>
  <div class="card-header">
    <div class="card-title h5">Пихта домашняя</div>
    <div class="card-subtitle text-gray">Порпап</div>
  </div>
  <div class="card-body">
  </div>
  <div class="card-footer">
    <button class="btn btn-primary">заказать</button>
  </div>
</div>

<div class="card">
    <div class="card-image">
      <img src="img/osx-el-capitan.jpg" class="img-responsive">
    </div>
    <div class="card-header">
      <div class="card-title h5">Пихта домашняя</div>
      <div class="card-subtitle text-gray">Порпап</div>
    </div>
    <div class="card-body">
    </div>
    <div class="card-footer">
      <button class="btn btn-primary">заказать</button>
    </div>
  </div>

<div class="card">
  <div class="card-image">
    <img src="img/osx-el-capitan.jpg" class="img-responsive">
  </div>
  <div class="card-header">
    <div class="card-title h5">Пихта домашняя</div>
    <div class="card-subtitle text-gray">Порпап</div>
  </div>
  <div class="card-body">
  </div>
  <div class="card-footer">
    <button class="btn btn-primary">заказать</button>
  </div>
</div>
<div class="card">
    <div class="card-image">
      <img src="img/osx-el-capitan.jpg" class="img-responsive">
    </div>
    <div class="card-header">
      <div class="card-title h5">Помидор "бычье сердце"</div>
      <div class="card-subtitle text-gray">Порпап</div>
    </div>
    <div class="card-body">
    </div>
    <div class="card-footer">
      <button class="btn btn-primary">заказать</button>
    </div>
</div>

<div class="card">
    <div class="card-image">
      <img src="img/osx-el-capitan.jpg" class="img-responsive">
    </div>
    <div class="card-header">
      <div class="card-title h5">Пихта домашняя</div>
      <div class="card-subtitle text-gray">Порпап</div>
    </div>
    <div class="card-body">
    </div>
    <div class="card-footer">
      <button class="btn btn-primary">заказать</button>
    </div>
  </div>

</div>
</body>