<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <title>Бычье сердце</title>
    <style>
    @import url(https://weloveiconfonts.com/api/?family=entypo);
        /* entypo */
        [class*="entypo-"]:before {
          font-family: 'entypo', sans-serif;
        }.katalog-End{text-align: end; font-size:1.4rem;}
    </style>
    <style>.img-responsive{align-self :right ;}</style>
</head>

<body> 
  <div class="breadcrum">
    <div class="columns">
      <div class="column col-4 katalog">
        <div class="columns">
          <div class="column col-6 h5" >
            <a href="#">&nbsp&nbsp&nbsp&nbsp Питомник растений</a>
          </div>
          <div class="column col-6 h5">
            <a href="#">О питомнике</a>
          </div>
        </div>
      </div> 
      <div class="column col-4"></div> 
      <div class="column col-4 katalog-End">
        <div class="columns">
          <div class="column col-10 "><a href="#"><span class="entypo-user"></span></a></div>
          <div class="column col-1 "><a href="#"><span class="entypo-dropbox"></a></div>
        </div>
      </div> 
    </div> 
  </div>   

  <div class="card">
    <div class="card-image">
      <div class="columns">
        <div class="column col-2">
          <img src="https://avatars.mds.yandex.net/i?id=4fc4c52fed318092a559bbe19ba2566b1b8f4ec7-10915107-images-thumbs&n=13" class="img-responsive">
        </div>
        <div class="column col-4">
          <div class="card-header">
            <div class="card-title h4">Пихта домашняя</div>
            <div class="card-subtitle text-gray">Порпап</div>
          </div>
          <div class="text-large">
            <div class="card-body" >Порпап пара па пара па па
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary btn-lg">перейти</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <div class="columns">
        <div class="column col-2">
          <img src="img/osx-el-capitan.jpg" class="img-responsive">
        </div>
        <div class="column col-2">
          <div class="card-header">
            <div class="card-title h4">Пихта домашняя</div>
            <div class="card-subtitle text-gray">Порпап</div>
          </div>
          <div class="text-large">
            <div class="card-body" >Порпап пара па пара па па
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary btn-lg">перейти</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <div class="columns">
        <div class="column col-2">
          <img src="img/osx-el-capitan.jpg" class="img-responsive">
        </div>
        <div class="column col-2">
          <div class="card-header">
            <div class="card-title h4">Пихта домашняя</div>
            <div class="card-subtitle text-gray">Порпап</div>
          </div>
          <div class="text-large">
            <div class="card-body" >Порпап пара па пара па па
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary btn-lg">перейти</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <div class="columns">
        <div class="column col-2">
          <img src="img/osx-el-capitan.jpg" class="img-responsive">
        </div>
        <div class="column col-2">
          <div class="card-header">
            <div class="card-title h4">Пихта домашняя</div>
            <div class="card-subtitle text-gray">Порпап</div>
          </div>
          <div class="text-large">
            <div class="card-body" >Порпап пара па пара па па
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary btn-lg">перейти</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
