<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="../../css/Catalog.Css">
    <style>.katalogEnd{text-align: end;} </style>
     <title>Бычье сердце</title>
</head>

<body> 
  <div class="breadcrum">
    <div class="columns">
      <div class="column col-4 katalog">
        <div class="columns">
          <div class="column col-6 h5" >
            <a href="#">&nbsp&nbsp&nbsp&nbsp Питомник растений</a>
          </div>
          <div class="column col-6 h5">
            <a href="#">О питомнике</a>
          </div>
        </div>
      </div> 
      <div class="column col-4"></div> 
      <div class="column col-4 katalog-End">
        <div class="columns">
          <div class="column col-4"></div> 
          <div class="column col-6 h5"><a href="#">Зарегистрироваться</a></div>
          <div class="column col-1 h5"><a href="#">Войти</a></div>
        </div>
      </div> 
    </div> 
  </div>   

  <div class="card flexOrderRow">
    <div class="card-image">
      <div class="columns">
        <div class="column col-2">
          <img src="img/osx-el-capitan.jpg" class="img-responsive">
        </div>
        <div class="column col-2">
          <div class="card-header">
            <div class="card-title h4">Пихта домашняя</div>
            <div class="card-subtitle text-gray">Порпап</div>
          </div>
          <div class="text-large">
            <div class="card-body" >Порпап пара па пара па па
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary btn-lg">перейти</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card flexOrderRow">
    <div class="card-image">
      <div class="columns">
        <div class="column col-2">
          <img src="img/osx-el-capitan.jpg" class="img-responsive">
        </div>
        <div class="column col-2">
          <div class="card-header">
            <div class="card-title h4">Пихта домашняя</div>
            <div class="card-subtitle text-gray">Порпап</div>
          </div>
          <div class="text-large">
            <div class="card-body" >Порпап пара па пара па па
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary btn-lg">перейти</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card flexOrderRow">
    <div class="card-image">
      <div class="columns">
        <div class="column col-2">
          <img src="img/osx-el-capitan.jpg" class="img-responsive">
        </div>
        <div class="column col-2">
          <div class="card-header">
            <div class="card-title h4">Пихта домашняя</div>
            <div class="card-subtitle text-gray">Порпап</div>
          </div>
          <div class="text-large">
            <div class="card-body" >Порпап пара па пара па па
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary btn-lg">перейти</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card flexOrderRow">
    <div class="card-image">
      <div class="columns">
        <div class="column col-2">
          <img src="img/osx-el-capitan.jpg" class="img-responsive">
        </div>
        <div class="column col-2">
          <div class="card-header">
            <div class="card-title h4">Пихта домашняя</div>
            <div class="card-subtitle text-gray">Порпап</div>
          </div>
          <div class="text-large">
            <div class="card-body" >Порпап пара па пара па па
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary btn-lg">перейти</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card flexOrderRow">
    <div class="card-image">
      <div class="columns">
        <div class="column col-2">
          <img src="img/osx-el-capitan.jpg" class="img-responsive">
        </div>
        <div class="column col-2">
          <div class="card-header">
            <div class="card-title h4">Пихта домашняя</div>
            <div class="card-subtitle text-gray">Порпап</div>
          </div>
          <div class="text-large">
            <div class="card-body" >Порпап пара па пара па па
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary btn-lg">перейти</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</body>