{% extends 'base.html' %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
        <a href="#">О компании</a>
        </li>
    </ul>
{% endblock %}

{% block heading %}О питомнике "Бычье сердце"{% endblock %}

{% block content %}
<div class="columns">
    <div class="column col-4">
        {% load static %}
        <img src="{% static 'pitomnik.jpg' %}" alt="Питомник" class="img-responsive">
    </div>
    <div class="column col-8">
        <p><b>Бычье сердце</b> - это семейный питомник растений, специализирующийся на выращивании и продаже разнообразных видов цветов, декоративных кустарников, деревьев и других растений. Наша компания заботится о качестве и здоровье каждого растения, предлагая клиентам только самые здоровые и крепкие экземпляры.
            </p>
        <p>Мы предлагаем широкий выбор растений для украшения садов, парков, балконов и домов. Все наши растения выращиваются с любовью и уходом, чтобы гарантировать их здоровье и красоту. У нас вы можете найти как популярные сорта растений, так и редкие экземпляры, которые будут радовать вас своей уникальной красотой.</p>
        <p>Наша компания также оказывает услуги по консультированию клиентов по уходу за растениями, помогая им выбрать подходящие растения для конкретных условий и предоставляя советы по уходу за ними.</p>
        <p>Мы стремимся к тому, чтобы каждый наш клиент получил удовольствие от покупки и удовольствие от выращивания наших растений. "Бычье сердце" - это место, где вы найдете все необходимое для создания красивых и ухоженных зеленых уголков вокруг своего дома.</p>
    </div>
</div>
{% endblock %}