{% extends 'base.html' %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
        <a href="#">Каталог</a>
        </li>
    </ul>
{% endblock %}

{% block heading %}Категории{% endblock %}

{% block content %}
<div class="columns">
    {% for category in categories %}
    <div class="column col-2">
        <div class="card">
            <div class="card-image">
            <img src="{{category.preview.url}}" class="img-responsive">
            </div>
            <div class="card-header category-header">
            <div class="card-title h5">{{category.name}}</div>
            </div>
            <div class="card-footer">
            <a href="{% url 'category' category.id %}" class="btn btn-primary">Перейти <span class="entypo-right"></span></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}