{% extends 'base.html' %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
        <a href="{% url 'index' %}">Каталог</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'category' product.category.id %}">{{product.category.name}}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">{{product.name}}</a>
        </li>    
    </ul>
{% endblock %}

{% block heading %}{{product.name}}{% endblock %}

{% block content %}
<div class="columns">
    <div class="column col-2">
        <img src="{{product.preview.url}}" class="img-responsive">
    </div> 
    <div class="column col-10">
        <p>
            <b>{{product.price}} руб./шт.</b> 
            {% if not product.available %}
            <span class="text-error"><span class="entypo-attention"></span> Нет в наличии</span>
            {% endif %}
        </p>
        <p>{{product.description}}</p>   
        <a href="{{product.wiki_link}}"><span class="entypo-help"></span> Узнать больше о растении</a>
    </div> 
</div>
<div class="columns">
    <div class="column col-6">
        <form method="post" id="form" class="add-form OrderCard">
            {% csrf_token %}
            <input name="product_id" type="number" value="{{product.id}}" hidden>
            <button type="button" class="btn btn-action sub-button"><span class="entypo-minus"></span></button>
            <input class="form-input counter" name="count" type="number" value="1" />
            <button type="button" class="btn btn-action add-button"><span class="entypo-plus"></span></button>
            <input class="btn btn-primary" style="flex-grow: 1;" id="submit" type="submit" value="Добавить в корзину" />
        </form>
    </div>
</div>
{% endblock %}